//Import Files 
@use "../../helpers/Variablies.scss" as *;
@use "../../helpers/Mixin.scss" as *;

//Rules
header{
    background-color: $White;
    position: relative;
    z-index: 3333333;
    nav {
        ul {
            li{
                a{
                    color: $Grayish-Blue !important;
                    border-bottom: 2px solid transparent;
                    transition: all 1s;
                    &:hover{
                        color: $Dark-Blue;
                        border-bottom: 2px solid $Lime-Green;
                    }
                }
            }
        }
        .btnMain{
            @include btnMain($White, linear-gradient(to left,$Lime-Green, $Bright-Cyan), $White, linear-gradient(to left,$Lime-Green, $Bright-Cyan))
        }
    }
}