//Import File 
@use "../../helpers/Mixin.scss" as *;
@use "../../helpers/Variablies.scss" as *;

//Rules
#blog{
    background-color: $Very-Light-Gray;
    .mainHeading{
        h3{
            color: $Dark-Blue;
        }
    }
    .blogCard{
        .content{
            background-color: $White;
            .writer{
                font-size: 12px;
                color: $Grayish-Blue;
            }
            h5{
                color: $Dark-Blue;
                cursor: pointer;
                transition: all 1s;
                &:hover{
                    color: $Bright-Cyan;
                }
            }
            p{
                color: $Grayish-Blue;
                font-size: 16px;
            }
        }
    }
}